a==1.0
altgraph==0.17
appdirs==1.4.4
asgiref==3.4.1
astroid==2.5.2
atomicwrites==1.4.0
attrs==21.4.0
auto-py-to-exe==2.9.0
beautifulsoup4==4.9.3
blessings==1.7
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
callofduty.py==1.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colored==1.4.2
compile==1.0.3
configparser==5.0.2
cowsay==4.0
crayons==0.4.0
cryptography==3.4.7
curtsies==0.3.5
cwcwidth==0.1.4
cx-Freeze==6.6
cx-Logging==3.0
DateTime==4.3
decorator==4.4.2
deopy==0.0.7
distlib==0.3.2
Django==3.2.8
Eel==0.12.4
enquiries==0.1.0
fake-useragent==0.1.11
ffmpeg==1.4
filelock==3.0.12
future==0.18.2
getmac==0.8.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
h11==0.12.0
html5lib==1.1
httmock==1.4.0
http-request-randomizer==1.3.2
httpcore==0.12.3
httpx==0.16.1
huepy==1.2.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==4.0.1
imutils==0.5.4
iniconfig==1.1.1
instabot==0.117.0
isort==5.8.0
Jinja2==3.0.1
lazy-object-proxy==1.6.0
linkpreview==0.2.0
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
mechanize==0.4.5
mock==4.0.3
MouseInfo==0.1.3
moviepy==1.0.3
myigbot==0.2.5
numpy==1.21.0
oauthlib==3.1.1
opencv-python==4.5.3.56
packaging==21.3
pandas==1.3.0
pefile==2019.4.18
Pillow==8.3.1
playwright==1.10.0
pluggy==1.0.0
proglog==0.1.9
psutil==5.8.0
py==1.11.0
pyasn1==0.4.8
PyAutoGUI==0.9.53
pycparser==2.20
pycryptodome==3.10.1
pyee==8.1.0
PyExecJS==1.5.1
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.7.4
PyMsgBox==1.0.9
pynput==1.7.3
pyOpenSSL==20.0.1
pyparsing==3.0.7
pyperclip==1.8.2
pypiwin32==223
pyppeteer==0.2.6
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.4.3.0.3
PyRect==0.1.4
PyScreeze==0.1.27
PySide2==5.15.2
PySocks==1.7.1
pyTelegramBotAPI==3.7.7
pytest==7.0.1
python-dateutil==2.8.1
python-dotenv==0.17.1
PyTweening==1.0.3
pytz==2021.1
pywhatkit==5.2
pywin32==301
pywin32-ctypes==0.2.0
qrcode==7.2
qt-material==2.8.8
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.18.0
rfc3986==1.5.0
rsa==4.7.2
scapy==2.4.5
schedule==1.1.0
selenium==3.141.0
selenium-stealth==1.0.6
shiboken2==5.15.2
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
spark-parser==1.8.9
sqlparse==0.4.2
telebot==0.0.4
termcolor==1.1.0
TikTokApi==3.9.9.1
toml==0.10.2
tomli==2.0.1
tqdm==4.61.2
tweepy==4.4.0
uncompyle6==3.7.4
urllib3==1.26.4
user-agent==0.1.9
uuid==1.30
virtualenv==20.4.7
webdriver-manager==3.4.2
webencodings==0.5.1
websockets==9.1
wget==3.2
whichcraft==0.6.1
wikipedia==1.4.0
wireless==0.3.3
wrapt==1.12.1
xdis==5.0.10
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
